In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib as mat
import matplotlib.pyplot as plt
from sklearn import datasets

In [2]:
d1 = pd.read_csv("./data/price_availability.csv", delimiter=";");
d2 = pd.read_csv("./data/listings_final.csv", delimiter=";");

In [3]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4748696 entries, 0 to 4748695
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   day             object
 2   created         object
 3   available       bool
 4   local_currency  object
 5   local_price     int64
 6   min_nights      int64
dtypes: bool(1), int64(3), object(3)
memory usage: 221.9+ MB

In [4]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1000 non-null   int64
 1   listing_id                1000 non-null   int64
 2   name                      1000 non-null   object
 3   type                      1000 non-null   object
 4   city                      1000 non-null   object
 5   neighborhood              935 non-null    object
 6   latitude                  1000 non-null   float64
 7   longitude                 1000 non-null   float64
 8   person_capacity           1000 non-null   int64
 9   beds                      1000 non-null   int64
 10  bedrooms                  1000 non-null   int64
 11  bathrooms                 1000 non-null   float64
 12  is_rebookable             1000 non-null   bool
 13  is_new_listing            1000 non-null   bool
 14  is_fully_refundable       1000 non-null   bool
 15  is_host_highly_rated      1000 non-null   bool
 16  is_business_travel_ready  1000 non-null   bool
 17  pricing_weekly_factor     1000 non-null   float64
 18  pricing_monthly_factor    1000 non-null   float64
dtypes: bool(5), float64(5), int64(5), object(4)
memory usage: 114.4+ KB

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
g = d1.groupby('listing_id');

# on ajoute une nouvelle colonne dans le DataFrame qui contient toutes les infos

d2['price_avg'] = 0

# on fait un boucle sur les lignes du DataFrame qui contient toutes les infos (i = index, x = data)

for (i,x) in d2.iterrows():
    #on vérifie que le listing_id possède bien des historiques de prix en regardant si la valeur de listing_id est bien une clé du tableau d'historique g
    if x.listing_id in g.groups.keys():
        # on ajoute pour la ligne i (qui correspond à la ligne) et pour la colonne price_avg la moyenne de tous les historiques de prix
        d2.loc[i,'price_avg'] = g.get_group(x.listing_id).local_price.mean()
d2

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,price_avg
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00,45.948454
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69,44.473684
2,2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00,49.000000
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48,165.000000
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90,69.774436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00,38.507732
996,996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00,147.752551
997,997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00,152.860825
998,998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00,49.184211
999,999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00,39.503937

In [10]:
X = d2[['person_capacity', 'beds', 'bedrooms','bathrooms']]
y = d2['price_avg']

In [11]:
X, y

(     person_capacity  beds  bedrooms  bathrooms
 0                  1     1         1        2.0
 1                  2     1         1        1.0
 2                  1     1         1        1.0
 3                  3     2         2        1.0
 4                  2     1         1        1.0
 ..               ...   ...       ...        ...
 995                2     1         0        1.0
 996                3     1         1        1.0
 997                4     2         1        1.0
 998                6     4         2        1.5
 999                2     1         1        1.0

 [1000 rows x 4 columns],
 0       45.948454
 1       44.473684
 2       49.000000
 3      165.000000
 4       69.774436
           ...
 995     38.507732
 996    147.752551
 997    152.860825
 998     49.184211
 999     39.503937
 Name: price_avg, Length: 1000, dtype: float64)

In [13]:
X.isna().sum()
y.isna().sum()

0

In [19]:
# variables prédictives et cible
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((700, 4), (300, 4), (700,), (300,))

In [20]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [21]:
reg.fit(X_train,y_train)

LinearRegression()

In [22]:
reg.coef_

array([ 43.92326311, -33.39071743,  26.4891331 ,  90.14340271])

In [23]:
reg.intercept_

-49.96187385427672

In [24]:
X_train

     person_capacity  beds  bedrooms  bathrooms
541                5     2         1        1.0
440                3     2         0        1.0
482                2     1         0        1.0
422                6     2         2        1.0
778                2     1         1        1.0
..               ...   ...       ...        ...
106                6     3         3        1.5
270                2     1         0        1.0
860                2     1         0        1.0
435                4     2         0        1.0
102                5     4         3        2.0

[700 rows x 4 columns]

In [27]:
reg.score(X, y)

0.38419418456517385